.page { 
    margin:.1em auto; 
    padding:.1em; 
}

body { 
    font-family: serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px; 
    color: #30475e; 
}

h1, h2  {
     color: #ffcc5c; 
     font-family: fantasy;
     font-size: 2em;
     width: 100%;
     padding: 50px;
     background-color: #30475e;
     text-align: center;
     border-radius: 15px;
     border-style: solid;
     border-color: #ffcc5c;
    }
h3 {
    text-align: center;
    font-family: fantasy;
    color: #30475e;
    font-size: 2em;
    width: 100%;
    padding: 10px 50px;
}
form {
     margin:.1em auto; 
     padding:.1em; width: 400px; 
     border: 1px 
    }

.heading { 
    font-weight: bold; 
}


input[type=text] { 
    margin: .5em 0; 
    padding: .5em; 
    font-size: 12px; 
    color: #777; 
    width: 200px;
}

input[type=textarea] { 
    margin: .5em 0; 
    padding: .5em; 
    font-size: 12px; 
    color: #777; 
    width: 200px;
}

.foodcart-card{
    background-color: white;
    padding: 25px 50px;
    border: 2px, solid;
    /* border-color: #ffcc5c; */
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 0px 3px 3px rgba(255,204,92,1);
    margin-bottom: 50px;
}


.my-btn{
    background-color: #ffcc5c;
    color: #30475e;
    border: none;
    border-radius:5px;
    padding: 10px 20px;
}
.view-btn {
    color: #30475e;
    font-family: serif;
    position: absolute;
    text-align: center;
    transform: translate(100%, 0px);
    background-color: #ffcc5c;
    padding: 5px 30px;
    border-radius: 5px;
}
.add-btn {
    color: #30475e;
    font-family: serif;
    position: absolute;
    text-align: center;
    transform: translate(106%, 50px);
    background-color: #ffcc5c;
    padding: 5px 30px;
    border-radius: 5px;
}

/*background img*/
#background-img{
    position: absolute;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1000;
}

/* body{
    overflow: hidden;
} */

.page h2{
    font-family: 'Pacifico', cursive;
}

#landing .title{
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 75px;
    margin-top: 100px;
    background-color: rgba(48,71,94,.75);
}

.btn-container{
    width: 50%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.btn-container .ui.button{
    width: 250px;
    margin-bottom: 20px;
}

.content .dog-img{
    width: 100%;
}

.ui.card {
    width: 500px !important;
    margin: auto !important;
}

.content{
    padding: 30px !important;
}

.ui.labeled.button{
    float: right !important;
}

#title.ui.raised.segment{
    width: 500px;
    margin: auto;
}

h3{
    font-size: 1.3em;
}

.page-header{
    margin:25px;
}