{% extends "layout.html" %}
{% block content %}
<h3 id="title" class="ui raised segment">Your Fav</h3>
    {% for i in favorite %}
		<div class="foodcart-card">
		<h4>{{ i.name }} </h4>
		<div style="display: flex; justify-content: center;">
		<img class="header-img" src= {{i.image}} style="width: 80%;">
		</div>
		<p>{{i.date_submitted}}</p>
		<hr>
		<p>Weight: {{i.weight}} </p>
		<p>Height: {{i.height}} </p>
		<p>Bred For: {{i.bred_for}}</p>
		<p>Breed Group: {{i.breed_group}}</p>
		<p>Life Span: {{i.life_span}}</p>
		<p>Temperament: {{i.temperament}}</p>
		<p>Origin: {{i.origin}}</p>
		</div>
	{% endfor %}
	<a class="back-btn" href="{{ url_for('index')}}"><button class="ui labeled icon button"><i class="caret square left outline icon"></i>Back</button></a>

{% endblock %}