{% extends "layout.html" %} {% block content %}
<!-- Front end file where inputs of a food cart can be entered -->
<img id="background-img" class="search-background" src="{{url_for('static', filename='corgi.jpg')}}"/>
<div class="recipe-card">
  <form method="GET" action="{{ url_for('result',selected_breed=selected_breed)}}" style="margin-top: 50px;">
    <form style="display: inline;">
      <div class="ui fluid search selection dropdown" id="dog-dropdown">
        <input type="hidden" name="selected_breed" onchange="this.form.submit();"/>
        <div class="default text">Select Dog</div>
        <div class="menu">
          {% for i, j in breeds.items() %}
          <option class="item" value="{{i}}" name="selected_breed" data-count="{{loop.index}}">{{j}}</option>
          {% endfor %}
        </div>
      </div>
    </form>
  </form>
</div>
{% endblock %}
